---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer
  class="flex flex-col items-center container mx-auto p-10 text-center gap-10 pb-40"
>
  &copy; {today.getFullYear()} All rights reverved.
  <div class="flex items-center gap-6 text-5xl">
    <a
      href="
      target="_blank"
      class="py-1 pl-3 rounded-md border-1 border-black bg-ppink shadow-card hover:shadow-hover transition"
    >
      <Icon name="1" />
    </a>
    <a
      href="#"
      target="_blank"
      class="border-1 p-1 border-black rounded-full bg-pblue shadow-card hover:shadow-hover transition"
    >
      <Icon name="2" />
    </a>
    <a
      href="#"
      target="_blank"
      class="border-1 p-1 border-black rounded-full bg-pgreen shadow-card hover:shadow-hover transition"
    >
      <Icon name="3" />
    </a>
  </div>
</footer>
